
.all{
    margin-top: 50px;
    text-align: center;
    
    
    
}
h2{
    font-family: sans-serif;
    color: rgb(77, 86, 95);
    position: relative;
    top: 30px;
    left: 110px;
}

input[type="text"]{
    position: relative;
    left: 20px;
    padding: 9px 350px;
    margin-left: 10px;
    padding-left: 15px;
    font-family: sans-serif;
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 3px;
    
    
}
input[type="email"]{
    padding: right;
    right: -50px;
    padding : 9px 350px;
    margin-left: 60px;
    padding-left: 15px;
    font-family: sans-serif;
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.nav input{
    border-radius: 3px;
    padding : 9px 932px; 
    padding-left: 15px;
    margin-top: 15px;
    position: relative;
    left: 10px;
    font-family: sans-serif;
    border: 1px solid lightgray;
 
}   
textarea{
    border-radius: 3px;
    position: relative;
    left: 14px;
    padding: 250px 945px ;
    margin-top:15px;
    padding-top: 15px;
    padding-left: 15px;
    font-family: sans-serif;
    color: lightgray;
    border: 1px solid lightgray;
}
.footer input{
    margin-top: 10px;
    padding: 15px 25px;
    margin-right: 514px;
    border: 0px solid white;
    background: rgb(0, 195, 255);
    border-radius: 6px;
    font-family: sans-serif;
    color: white;
   
}
p{
    float: right;
    margin-right: 80px;
    font-size: 20px;
    color: lightgrey;
}


